html {
  font-size: 62.5%; }

#new-tweet {
  padding: 20px;
  display: none;
  background-color: #eef3fb;
  border: 1px solid #ccc;
  border-radius: 10px; }
  #new-tweet h2 {
    margin: 0;
    width: 100%;
    font-size: 2rem;
    border-bottom: 2px solid #666; }
  #new-tweet textarea {
    margin-top: 20px;
    padding: 5px;
    width: 100%;
    resize: none;
    font-size: 1.5rem; }
  #new-tweet textarea:focus {
    border: 2px solid #00a087; }
  #new-tweet .tweet-lower {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    #new-tweet .tweet-lower .submit {
      margin-top: 2px; }
    #new-tweet .tweet-lower .counter {
      margin: 7px;
      font-style: italic; }
    #new-tweet .tweet-lower .invalid {
      color: red; }
  #new-tweet .error {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #f55;
    font-size: 1.8rem;
    color: white;
    border: 1px solid red;
    border-radius: 5px; }
    #new-tweet .error .bold {
      font-weight: 700; }
