html {
  font-size: 62.5%;

  #tweets {

    .tweet {
      margin-top: 20px;

      background-color: #eef3fb;
      border: 1px solid #fff;
      border-radius: 10px;

      header {
        height: 72px;
        display: flex;
        position: relative;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #ced3db;

        img {
          margin: 0 10px;
          border-radius: 10px;
          width: 50px;
          height: 50px;
        }

        h2 {
          display: inline;

          font-size: 2rem;
        }

        .handle {
          position: absolute;
          right: 10px;

          font-size: 1.5rem;
        }
      }

      main {
        height: 100px;
        padding: 10px;

        font-size: 2rem;
        border-bottom: 1px solid #cce;
      }

      footer {
        margin: 15px 15px 0 15px;
        height: 35px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        font-size: 1.5rem;

        .icons {
          margin-right: 5px;
          display: none;
        }
      }
    }

    .tweet:hover {

      border: 1px solid #555;
      border-radius: 10px;
      background-color: #e6eaf4;

      header {
        border: 1px solid #bbb;
        background-color: #b7c4c3;
      }

      .icons {
        display: block;
      }
    }
  }
}