$primary-color: #eef3fb;
$primary-color-1-hover: darken($primary-color, 10);
$secondary-color: #244751;
$accent-color-1: #00a087;
$accent-color-1-hover: darken($accent-color-1, 10);
$accent-color-2: #b7c4c3;
$accent-color-2-hover: darken($accent-color-2, 10);
$border-color: #ccc;
$border-color-hover: darken($border-color, 10);