nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 80px;
  width: 100%;
  padding: 0 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #00a087;
  color: #eef3fb; }
  nav img {
    width: 80px;
    height: 80px; }
  nav .header {
    margin-left: 10px;
    font-size: 3rem; }
  nav .compose-button {
    width: 13rem;
    height: 60px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #eef3fb;
    border: 2px solid #244751;
    border-radius: 5px;
    color: #244751;
    font-size: 2rem;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 2rem; }
    nav .compose-button:hover {
      cursor: pointer;
      background: #006d5c;
      color: #fff; }
  nav .whitespace-mobile.higher {
    display: none;
    width: 100%;
    background: white;
    height: 2rem;
    z-index: 50;
    position: absolute;
    bottom: -2rem; }
  nav .whitespace-mobile.lower {
    display: none;
    width: calc(100% - 4rem);
    background: white;
    height: 2rem;
    z-index: 50;
    position: absolute;
    bottom: -10rem;
    border-bottom: 2px solid #ccc; }
