@import '../variables.scss';

#new-tweet-desktop-container {
  @include new-tweet-container;
  padding: 2rem 0;
  top: 10rem;
}

#new-tweet-mobile-container {
  @include new-tweet-container;
  padding: 2rem 0;
  top: 16rem;
}

.compose-button.mobile {
  @include button(100%);
  display: none;
  position: sticky;
  top: 10rem;
  z-index: 100;
}

.new-tweet {
  padding: 20px;
  position: sticky;
  top: 20rem;
  z-index: 10;

  background-color: $primary-color;
  border: 1px solid $border-color;
  border-radius: 10px;

  h2 {
    margin: 0;
    width: 100%;

    font-size: 2rem;
    border-bottom: 2px solid $border-color;
  }

  textarea {
    margin-top: 20px;
    padding: 5px;
    width: 100%;
    resize: none;

    font-size: 1.5rem;
  }

  textarea:focus {
    border: 2px solid $accent-color-1;
  }

  .tweet-lower {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;

    .submit {
      margin-top: 2px;
    }

    .counter {
      margin: 7px;

      font-style: italic;
    }

    .invalid {
      color: red;
    }
  }

  .error {
    display: none;
    margin-top: 10px;
    padding: 10px;

    background-color: #f55;
    font-size: 1.8rem;
    color: white;
    border: 1px solid red;
    border-radius: 5px;

    .bold {
      font-weight: 700;
    }
  }
}