@import '../variables.scss';

.tweet {
  margin-top: 20px;
  word-wrap: break-word;

  background-color: $primary-color;
  border: 1px solid #fff;
  border-radius: 10px;

  header {
    min-height: 72px;
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    border: 1px solid $border-color;
    border-radius: 10px;
    background-color: $accent-color-2;

    img {
      margin: 0 10px;
      border-radius: 10px;
      width: 50px;
      height: 50px;
    }

    .name {
      max-width: 40%;

      h2 {
        display: inline;

        font-size: 2rem;
      }
    }

    .handle {
      position: absolute;
      right: 10px;
      max-width: 40%;

      font-size: 1.5rem;
    }
  }

  .mobile-handle {
    display: none;
    justify-content: center;
    margin: 0 auto;
    padding: 5px;
    width: 80%;
    word-wrap: break-word;

    background-color: white;
    font-size: 1.5rem;
    border-radius: 0 0 10px 10px;
    text-align: center;
  }

  main {
    min-height: 100px;
    padding: 10px;

    font-size: 2rem;
    border-bottom: 1px solid #cce;
  }

  footer {
    margin: 15px 15px 0 15px;
    min-height: 35px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    font-size: 1.5rem;

    .icons {
      margin-right: 5px;
      display: none;
      word-wrap: break-word;

      i {
        margin-left: 10px;

        &:hover {
          color: $accent-color-1;
          cursor: pointer;
        }
      }
    }
  }
}

.tweet:hover {

  border: 1px solid $border-color-hover;
  border-radius: 10px;
  background-color: $primary-color-1-hover;

  header {
    border: 1px solid $border-color-hover;
    background-color: $accent-color-2-hover;
  }

  .icons {
    display: block;
  }
}