.tweet {
  margin-top: 20px;
  word-wrap: break-word;
  background-color: #eef3fb;
  border: 1px solid #fff;
  border-radius: 10px; }
  .tweet header {
    min-height: 72px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #b7c4c3; }
    .tweet header img {
      margin: 0 10px;
      border-radius: 10px;
      width: 50px;
      height: 50px; }
    .tweet header .name {
      max-width: 40%; }
      .tweet header .name h2 {
        display: inline;
        font-size: 2rem; }
    .tweet header .handle {
      position: absolute;
      right: 10px;
      max-width: 40%;
      font-size: 1.5rem; }
  .tweet .mobile-handle {
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    padding: 5px;
    width: 80%;
    word-wrap: break-word;
    background-color: white;
    font-size: 1.5rem;
    border-radius: 0 0 10px 10px;
    text-align: center; }
  .tweet main {
    min-height: 100px;
    padding: 10px;
    font-size: 2rem;
    border-bottom: 1px solid #cce; }
  .tweet footer {
    margin: 15px 15px 0 15px;
    min-height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 1.5rem; }
    .tweet footer .icons {
      margin-right: 5px;
      display: none;
      word-wrap: break-word; }
      .tweet footer .icons i {
        margin-left: 10px; }
        .tweet footer .icons i:hover {
          color: #00a087;
          cursor: pointer; }

.tweet:hover {
  border: 1px solid #b3b3b3;
  border-radius: 10px;
  background-color: #c5d6f1; }
  .tweet:hover header {
    border: 1px solid #b3b3b3;
    background-color: #9badac; }
  .tweet:hover .icons {
    display: block; }
